# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
expo-debug.log

# Build outputs
android/
ios/
build/
web-build/
dist/
.expo/
.expo-shared/

# Babel cache
.babel.cache

# Metro bundler cache
.cache/
.haste/

# Watchman
.watchmanconfig

# macOS files
.DS_Store

# IDEs
.vscode/
.idea/

# Environment files
.env
.env.*.local

# Misc
*.log
*.pem
*.jks

# Test coverage
coverage/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# EAS
*.tar.gz
*.apk
*.ipa

# npm package lock (optional if you use yarn)
package-lock.json

# yarn lock (optional if you use npm)
# yarn.lock
